#tracks div {
  display: none;
}

/*.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}*/

#web, #mobile, #game, #desktop, .submit {
  display: none;
}

/*#info {
  float: right;
}*/

#tracks {
  /*float: left;*/
}
