#tracks p, #tracks h5 {
  display: none;
}

#tracks h5 {
  margin-top: 50px;
}

#web, #mobile, #game, #desktop, .submit {
  display: none;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.clickable {
  color: blue;
}

.recommend {
  display: none;
}
