#tracks p, #tracks h5, #web, #mobile, #game, #desktop, .submit {
  display: none;
}

#tracks h5 {
  margin-top: 50px;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.clickable {
  color: blue;
}

.recommend {
  display: none;
}

.jumbotron {
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 30px;
}

.firstName {
  color: red;
}

.space {
  margin-top: 20px;
  margin-bottom: 20px;
}
